@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", serif;
}

:root {
  font-size: 12.5px;
}

@layer components {
  .custom-radio-curved {
    @apply rounded-sm border border-gray-300 bg-gray-200 outline-none transition-colors ease-in-out duration-300 p-2 flex items-center justify-center mr-3 after:rounded-sm after:bg-dark-brown after:w-3 after:h-3 after:opacity-0 after:scale-0 after:transition-opacity after:duration-200 after:ease-in-out
  }

  .custom-radio-circle {
    @apply rounded-full after:w-4 after:h-4 after:rounded-full
  }
}

.custom-radio input[type="radio"]:checked + .custom-radio-curved::after, .custom-radio input[type="radio"]:checked + .custom-radio-circle::after {
  opacity: 1;
  transform: scale(1);
}

.modal-container::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1560px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    font-size: 11px;
  }
}
